.product-card-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 5px;
    padding: 16px;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }